/* tryton-vanmeer.github.io

________  ________   ________
|\   ____\|\   ____\ |\   ____\
\ \  \___|\ \  \___|_\ \  \___|_
\ \  \    \ \_____  \\ \_____  \
 \ \  \____\|____|\  \\|____|\  \
  \ \_______\____\_\  \ ____\_\  \
   \|_______|\_________\\_________\
            \|_________\|_________|
*/


/* Variables */

:root {
    --color-text: #eee;

    --navbar-height: 600px;
    --navbar-bg-color: #F44336;
}


/* Main */

main.container {
    margin: 0 auto;
    padding-top: 8em;
    padding-bottom: 5em;
    width: 80%;
}

.subject a {
    color: #D50000;
}

.subject + .subject {
    padding-top: 5em;
}

.subject-item p {
    width: 80%;
}


/* Header */

.header {
    position: relative;
    height: var(--navbar-height);
    background-image: url("../assets/img/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

#header-text {
    position: fixed;
    color: var(--color-text);
    padding-top: 5em;
    padding-left: 5em;
}

#header-text h5 {
    padding-left: 5em;
}


/* Navbar */

#navbar {
    transition: all 0.25s ease;
    position: fixed;
    z-index: 50;
    height: 80px;
    top: 0;
    background-color: transparent;
    color: var(--color-text);
}

.navbar-bg-color {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
    background-color: var(--navbar-bg-color) !important;
}

#navbar a {
    margin: 6px 3px;
    padding: 6px 7px;
    min-width: 70px;
    color: var(--color-text);
    text-decoration: none;
    text-align: center;
}

#navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

#navbar a > i {
    font-size: 32px;
}

#navbar p {
    margin: 5px 0 0;
    font-size: 14px;
}

#navbar-title {
    font-size: 1.2rem;
    font-weight: 500;
}

#navbar-icon {
    transition: all 0.25 ease;
    margin-right: 1em;
    width: 50px;
    height: 42px;
}


/* Footer */

#footer {
    background-color: #C62828;
}

footer {
    color: var(--color-text);
    margin: 0 auto;
    width: 80%;
    height: 60px;
}

#copyright {
    color: #FFCDD2;
}

/* Utility */

.hide {
    display: none;
}
