* {
    font-family: monospace;
}

.home * {
    font-size: 12px;
    width: 400px;
}

.blog-index, .blog-post {
    margin: 0 auto;
    width: 80%;
}

.blog-index a {
    text-decoration: none;
}

.blog-index a:hover {
    text-decoration: underline;
}

.blog-index hr {
    margin-bottom: 50px;
}

.blog-post * {
    font-family: sans;
}

.blog-post .header {
    text-align: center;
}

.blog-post #source {
    display: none;
}

.blog-post #render {
    margin-bottom: 50px;
}

/* Media Query for mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
    * {
        width: 300px;
    }

    .blog-index, .blog-post {
        margin: 8px 8px 8px 8px;
        width: 300px;
    }
}
