body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $primary-color-dark;
    color: $primary-color-text;
    font-family: sans-serif;

    a {
        text-decoration: none;
        color: $primary-color-text;

        &:hover {
            color: $base04;
        }
    }
}

main {
    flex: 1;
    margin: 0 auto;
    width: 80%;

    a {
        color: $base0D;
    }
}

nav {
    background-color: $base01;
    height: 80px;

    #menu-icon {
        display: none;
    }

    #menu-icon.slide-in {
        span:nth-child(2) {
            display: none;
        }
    }

    #menu-icon.slide-out {
        span:nth-child(1) {
            display: none;
        }
    }
}

nav, footer {
    .container {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
        }

        li + li {
            padding-left: 16px;
        }
    }
}

table {
    background-color: $base03;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 8px;
}

tr > td {
    padding-left: 25px;
    padding-right: 25px;
}
