#post-list {
    list-style: none;
    font-size: 1.5em;

    li {
        padding-bottom: 25px;
    }
}

.post-date::before {
    content: "┌ ";
}

.post-excerpt::before {
    color: $primary-color-text;
    content: "└> ";

}

#post-header {
    text-align: center;

    h1 {
        margin-bottom: 0;
    }

    span {
        font-weight: bold;
    }

    hr {
        margin-bottom: 32px;
    }
}

img[alt="logo"] {
    width: 150px;
}

img[alt="screenshot"] {
    width: 160px;
}
