#post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 1.5em;

    li {
        background-color: $base03;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        width: 80%;
        padding: 8px;
        margin: 8px;
    }

    span {
        font-weight: bold;
        display: block;

        &::before {
            content: "┌ ";
        }
    }

    a.post-url::before {
        color: $primary-color-text;
        content: "└> ";
    }
}

#post-header {
    text-align: center;

    h1 {
        margin-bottom: 0;
    }

    span {
        font-weight: bold;
    }

    hr {
        margin-bottom: 32px;
    }
}

#post-content {
    h2 {
        margin-top: 2em;
    }
}

img[alt="logo"] {
    width: 150px;
}

img[alt="screenshot"] {
    width: 160px;
}
