// Phones
@media only screen and (max-width: 767px) {

    html {
        footer {
            display: none;
        }
    }

    nav {
        #menu-icon {
            display: inline-block;
        }

        ul {
            display: none;
        }
    }

    #sidebar {
        display: flex;
    }

}
