.latex-fancy {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    line-height: 0;

    span:nth-child(1) {
        font-size: 70%;
        margin-left: -0.36em;
        vertical-align: 0.3em;
        margin-right: -0.15em;
    }

    span:nth-child(2) {
        margin-left: -0.1667em;
        vertical-align: -0.5ex;
        margin-right: -0.125em;
    }
}
