#sidebar {
    display: none;
    min-height: 100vh;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 100%;
    transform: translateX(-100%);
    background: $base01;

    &.slide-out {
        animation: slide-out 0.5s forwards;
    }

    &.slide-in {
        animation: slide-in 0.5s forwards;
    }

    @keyframes slide-out {
        100% { transform: translateX(0%); }
    }

    @keyframes slide-in {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }

    .container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    div:nth-child(1) {
        flex: 1;

        ul {
            list-style: none;
            padding: 0;

            li + li {
                padding-top: 16px;
            }
        }
    }

    div:nth-child(2) {
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
            }

            li + li {
                padding-left: 16px;
            }
        }
    }
}
