<footer>

    <div class="container">
        <div>
            Copyright © 2018 - Tryton Van Meer
        </div>
        <ul>
            <li> <a href="{{ site.github }}" title="Github">
                <span class="icon">{% include icon-github.svg %}</span>
            </a> </li>
            <li> <a href="mailto:{{ site.email }}" title="Email">
                <span class="icon">{% include icon-email.svg %}</span>
            </a> </li>

            <li> <a href="https://linuxrocks.online/@tryton_vanmeer" title="Mastodon">
                <span class="icon">{% include icon-mastodon.svg %}</span>
            </a></li>
        </ul>
    </div>

</footer>
