@import "normalize/import-now";

// Font
$font-family: sans-serif;

$base00: #212121;
$base01: #303030;
$base02: #353535;
$base03: #4A4A4A;
$base04: #B2CCD6;
$base05: #EEFFFF;
$base06: #EEFFFF;
$base07: #FFFFFF;
$base08: #F07178;
$base09: #F78C6C;
$base0A: #FFCB6B;
$base0B: #C3E88D;
$base0C: #89DDFF;
$base0D: #82AAFF;
$base0E: #C792EA;
$base0F: #FF5370;

$primary-color-dark: $base00;
$primary-color-text: $base07;

// Dimen
$sidebar-width: 300px;


@import "triton/base";
@import "triton/layout";
@import "triton/syntax";
@import "triton/icon";
@import "triton/sidebar";
@import "triton/misc";
@import "triton/media";
