#blog-content {
  :not(pre)>code {
    padding: 2px 4px;
    border-radius: $radius;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: keep-all;
    color: inherit;
  }

  .highlight {
    margin-bottom: 1rem;

    .chroma {
      border-radius: $radius;
    }
  }
}
