$color-background: #121212;
$color-foreground: #EDEDED;

body {
    background-color: $color-background;
    color: $color-foreground;
}

a {
    color: $color-foreground;
}

header {
    a {
        &:hover {
            color: $color-background;
            background-color: $color-foreground;
        }
    }
}

pre {
    background-color: #282A36;
    color: #F8F8F2;
}

.heading-draft
{
    color: #ff5555;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $color-foreground;
        color: $color-background;
    }

    a {
        color: $color-background;
    }

    header {
        a {
            &:hover {
                color: $color-foreground;
                background-color: $color-background;
            }
        }
    }
}