$black: #282a36;
$white: #f8f8f2;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

$primary: #383a59;

$background: $black;
$body-background-color: $black;

$title-color: $white;
$subtitle-strong-color: $white;
$subtitle-color: $white;
$subtitle-strong-color: $white;

$text: $white;
$text-strong: $white;
$text-light: $white;

$link: $cyan;
$link-hover: lighten($link, 10);

$navbar-background-color: $black;
$navbar-item-color: $text;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: rgba($black, 0.3);

$table-color: $text;
$table-background-color: $background;

.text-red
{
    color: $red !important;
}