/* JetBrainsMono-Bold-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 700;
    font-family: "JetBrains Mono";
    font-style: italic;
    src:
        local("JetBrains Mono Bold Italic"),
        local("JetBrainsMono-BoldItalic"),
        url("/fonts/JetBrainsMono-Bold-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Bold-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

  /* JetBrainsMono-Bold - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 700;
    font-family: "JetBrains Mono";
    font-style: normal;
    src:
        local("JetBrains Mono Bold"),
        local("JetBrainsMono-Bold"),
        url("/fonts/JetBrainsMono-Bold.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Bold.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-ExtraBold-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 800;
    font-family: "JetBrains Mono Extra Bold";
    font-style: italic;
    src:
        local("JetBrains Mono Extra Bold Italic"),
        local("JetBrainsMono-ExtraBoldItalic"),
        url("/fonts/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-ExtraBold-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-ExtraBold - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 800;
    font-family: "JetBrains Mono Extra Bold";
    font-style: normal;
    src:
        local("JetBrains Mono Extra Bold"),
        local("JetBrainsMono-ExtraBold"),
        url("/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-ExtraBold.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-ExtraLight-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 200;
    font-family: "JetBrains Mono ExtraLight";
    font-style: italic;
    src:
        local("JetBrains Mono ExtraLight Italic"),
        local("JetBrainsMono-ExtraLightItalic"),
        url("/fonts/JetBrainsMono-ExtraLight-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-ExtraLight-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-ExtraLight - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 200;
    font-family: "JetBrains Mono ExtraLight";
    font-style: normal;
    src: local("JetBrains Mono ExtraLight"),
        local("JetBrainsMono-ExtraLight"),
        url("/fonts/JetBrainsMono-ExtraLight.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-ExtraLight.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 400;
    font-family: "JetBrains Mono";
    font-style: italic;
    src:
        // local("JetBrains Mono Italic"),
        // local("JetBrainsMono-Italic"),
        url("/fonts/JetBrainsMono-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-Light-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 300;
    font-family: "JetBrains Mono Light";
    font-style: italic;
    src:
        local("JetBrains Mono Light Italic"),
        local("JetBrainsMono-LightItalic"),
        url("/fonts/JetBrainsMono-Light-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Light-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-Light - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 300;
    font-family: "JetBrains Mono Light";
    font-style: normal;
    src:
        local("JetBrains Mono Light"),
        local("JetBrainsMono-Light"),
        url("/fonts/JetBrainsMono-Light.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Light.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-Medium-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 500;
    font-family: "JetBrains Mono Medium";
    font-style: italic;
    src:
        local("JetBrains Mono Medium Italic"),
        local("JetBrainsMono-MediumItalic"),
        url("/fonts/JetBrainsMono-Medium-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Medium-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-Medium - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 500;
    font-family: "JetBrains Mono Medium";
    font-style: normal;
    src:
        local("JetBrains Mono Medium"),
        local("JetBrainsMono-Medium"),
        url("/fonts/JetBrainsMono-Medium.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Medium.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-Regular - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 400;
    font-family: "JetBrains Mono";
    font-style: normal;
    src:
        local("JetBrains Mono Regular"),
        local("JetBrainsMono-Regular"),
        url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-Regular.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-SemiLight-Italic - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 350;
    font-family: "JetBrains Mono Semi Light";
    font-style: italic;
    src:
        local("JetBrains Mono Semi Light Italic"),
        local("JetBrainsMono-SemiLightItalic"),
        url("/fonts/JetBrainsMono-SemiLight-Italic.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-SemiLight-Italic.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}

/* JetBrainsMono-SemiLight - © 2000-2020 JetBrains s.r.o. Developed with drive and IntelliJ IDEA. */
@font-face {
    font-weight: 350;
    font-family: "JetBrains Mono Semi Light";
    font-style: normal;
    src:
        local("JetBrains Mono Semi Light"),
        local("JetBrainsMono-SemiLight"),
        url("/fonts/JetBrainsMono-SemiLight.woff2") format("woff2"),
        url("/fonts/JetBrainsMono-SemiLight.woff") format("woff");
    font-feature-settings: "calt" 1, "zero" 1, "kern" 1, "liga" 1;
    font-display: swap;
}