@media only screen and (max-width: 1024px) {
    body {
        width: 100%;
    }

    main {
        width: 80%;
        margin: 0 auto;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    pre {
        code {
            background-color: #282A36;
            color: #F8F8F2;
        }
    }

    .post-title {
        text-align: center;
    }

    .post-date {
        text-align: center;
    }

    .index-post {
        width: 100%;

        .index-post-title {
            display: block;
            text-align: center;

            span {
                display: block;
                margin-top: 6px;
            }
        }
    }
}