@media only screen and (max-device-width: 1024px) {
    body {
        width: 100%;
    }

    main {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .post {
        width: 100%;

        .post-title {
            display: block;
            text-align: center;

            span {
                display: block;
                margin-top: 6px;
            }
        }
    }
}