.post
{
    margin-bottom: 1em;

    .subtitle
    {
        margin-bottom: 0;
    }
}

.post-content
{
    margin-top: 1em;

    h2
    {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    p
    {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px)
{
    .post
    {
        .title
        {
            font-size: 1.25rem;

            span
            {
                display: block;
            }
        }

        .title + p
        {
            margin-left: 0;

            span
            {
                display: none;
            }
        }
    }
}
