// Colours
$dark: #121212;
$light: #EDEDED;
$red: #ff5555;

$body-bg: $dark;
$body-color: $light;
$primary: $light;
$navbar-dark-color: $light;

// Fonts
@import "./_fonts";
$font-family-sans-serif: "JetBrains Mono";
$font-family-monospace: "JetBrains Mono";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

//Syntax
@import "./_syntax";

// Navbar
.navbar-brand {
    span {
        color: $red;
    }
}

.navbar-nav {
    li:before {
        content: none;
    }
}

// Code Block
.highlight {
    .chroma {
        padding: 12px;
        border-width: 1px;
        border-style: solid;
        border-color: $dark;
        border-radius: 6px;
    }
}

// Index
.index-post {
    text-align: center;
}

// Posts
.post-title, .post-date {
    text-align: center;
}

.post-date.draft {
    color: $red;
}

// Lists
ul {
    padding-left: 1.25rem;
    list-style-type: none;

    li:before {
        content: "- ";
    }
}