$family-primary: "Roboto", sans-serif;

@import "../vendor/bulma/bulma";
@import "../vendor/bulma-prefers-dark/bulma-prefers-dark";

@import "font-awesome";

@import "syntax";
@import "blog";

nav {
  padding: 1rem 2rem;

  .navbar-brand {
    a {
      &:hover {
        color: $danger;
      }
    }
  }

  .navbar-item {
    a {
      color: inherit;

      &:hover {
        color: $link;
      }
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}

footer {
  a.icon {
    color: inherit;

    &:hover {
      color: $link;
    }
  }
}
