<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#121212">
        {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
        <title>{{ .Title }}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                    <span>𝝺</span> {{ .Site.Title }}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/tryton-vanmeer">Github</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://trytonvanmeer.dev/Resume/resume.pdf">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {{/*  <main id="{{ .Params.id }}">
            {{ block "main" .}} {{ end }}
        </main>  */}}

        {{/*  <footer>
            <span>© 2020 Tryton Van Meer</span>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
            <a href="https://github.com/tryton-vanmeer/tryton-vanmeer.github.io">Source</a>
        </footer>  */}}

        {{ $scripts := resources.Get "js/bootstrap.min.js" }}
        <script src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>
    </body>
</html>