{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title has-text-centered">
      {{ .Page.Title }}
    </p>
  </div>
</section>

<section class="section">
  <div class="container">

    {{ range .Pages }}
    <div class="mb-4">
      <div>
        {{ .Date.Format "Jan 2006" }}
      </div>
      <a class="is-size-4-tablet has-text-weight-bold" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </div>
    {{ end }}

  </div>
</section>

{{ end }}
