body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}

kbd {
  color: #555;
  background: #eee;
  font-family: monospace;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 5px;
  margin: 2px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #777;
  vertical-align: text-bottom;
}

.navbar-item {
  line-height: 1;
}

.navbar-menu.is-active {
  position: absolute;
  width: 100%;
  background-color: var(--bulma-scheme-main-bis);
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  font-size: 8vw;

  :nth-child(1) {
    color: var(--bulma-danger);
    border-right: 2px solid var(--bulma-text);
    padding-right: 1rem;
    margin-right: 1rem;
  }
}

.highlight {
  margin-bottom: 1rem;

  .chroma {
    border-radius: 4px;
  }
}
