<footer class="footer has-text-centered">
  <div>
    © Tryton Lux
    · <span class="icon"><i class="fas fa-font"></i></span>
    <a title="Content" href="https://creativecommons.org/licenses/by-sa/4.0/">
      CC BY-SA 4.0
    </a>
    · <span class="icon"><i class="fas fa-code"></i></span>
    <a title="Code" href="https://github.com/tryton-vanmeer/tryton-vanmeer.github.io">
      GPLv3
    </a>
  </div>

  <div>
    <a href="https://github.com/tryton-vanmeer" class="icon is-large">
      <i class="fab fa-2x fa-github"></i>
    </a>
    <a href="mailto:hello@tryton.thelux.family" class="icon is-large">
      <i class="fas fa-2x fa-envelope"></i>
    </a>
  </div>
</footer>
