{{ $scripts := resources.Get "js/navbar.js" | fingerprint }}
<script defer src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item title has-text-danger-65" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu is-shadowless">
    <div class="navbar-end">
      {{ $current := . }}
      {{ range .Site.Menus.nav }}
      {{ $active := cond (eq $current.Page.Title .Name) "is-active" "" }}
      <span class="navbar-item {{ $active }}">
        <a href="{{ .URL}}">{{ .Name }}</a>
      </span>
      {{ end }}
    </div>
  </div>
</nav>
