{{ $scripts := resources.Get "js/navbar.js" | fingerprint }}
<script src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="title" href="{{ .Site.BaseURL }}">
      <span class="is-family-monospace has-text-danger">ƒ</span> {{ .Site.Title }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu is-shadowless">
    <div class="navbar-end">
      <a class="navbar-item" href="/blog">Blog</a>
    </div>
  </div>
</nav>
