{{ define "main" }}

<section class="section">
  <div class="container">

    <h2 class="title">Recent Posts</h2>

    {{ range first 5 (where .Site.RegularPages "Type" "blog") }}
    <div class="mb-4">
      <div>
        {{ if .Draft }}
        <span class="has-text-danger">Draft</span>
        {{ else }}
        {{ .Date.Format "Jan 2006" }}
        {{ end }}
      </div>
      <a class="is-size-4-tablet has-text-weight-bold" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </div>
    {{ end }}

  </div>
</section>

{{ end }}
