{{ define "main" }}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog
            </h1>
        </div>
    </div>
</section>

<div class="container mobile-fluid mt-4">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

    {{ range $paginator.Pages }}
        <div class="post">
            <span>
                {{ .Date.Format "2006-01-02" }}
            </span>
            <h2 class="subtitle">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <p>
                <span>↳</span> {{ .Description }}
            </p>
        </div>
    {{ end }}
</div>

{{ end }}