<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include sidebar.html %}
    {% include navbar.html %}

    <main>
        {{ content }}
    </main>

</body>

{% include footer.html %}

<script type="text/javascript">

    function toggleSidebar() {
        var icon = document.getElementById("menu-icon");
        var sidebar = document.getElementById("sidebar");
        var isOpen = sidebar.classList.contains("slide-out");

        icon.setAttribute("class", isOpen ? "slide-in": "slide-out");
        sidebar.setAttribute("class", isOpen ? "slide-in": "slide-out");
    }
</script>

</html>
