{{ $type := .Get 0 }}

{{ $icon := "circle-info"}}
{{ $title := "Note" }}
{{ $colour := "info"}}

{{ if (eq $type "tip") }}
{{ $icon = "lightbulb" }}
{{ $title = "Tip" }}
{{ $colour = "success"}}
{{ end }}

{{ if (eq $type "warning") }}
{{ $icon = "triangle-exclamation" }}
{{ $title = "Warning" }}
{{ $colour = "danger"}}
{{ end }}

<article class="message is-{{ $colour }}">
  <div class="message-header">
    <p><i class="fas fa-{{ $icon }}"></i> {{ $title }}</p>
  </div>
  <div class="message-body">
    {{ .Inner }}
  </div>
</article>
